@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

:root{
    --white: #fff;
    --green:#61E398;
    --light-green:#BBFFFF;
    --Dark-purple:#010010;

}
body{
  
    font-family: 'montserrat', san-serif;
}
.hero-section{
    background: url(./images/Hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;
    vertical-align:middle;
    margin: 0 40px;

}

.nav-logo img{
    width:200px;
    margin-right: 50px;
}
.nav-links{
    margin-left: -220px;
}
.nav-links ul{
    display: flex;
    justify-content:center;
}
ul li{
    list-style: none;
    
}
ul li a{
    font-size: 14px;
    font-weight:150;
    color: var(--white);
    text-decoration: none;
    margin-right:40px;
    
}
li a:hover{
    color: var(--light-green);
    border-bottom: 5px solid var(--light-green);
    padding-bottom: 10px;

}
.social-link img{
    width: 24px;
   margin-right: 20px;
}
.social-link img:hover{
    cursor: pointer;
    border: 2px solid  var(--light-green);
    border-radius: 5px;
}

/* hero section */

.hero-details{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.details{
    color: var(--white);
    margin: 0 40px;
}
.details h1{
    font-size: 55px;
    font-weight: 700;
    text-transform: inherit;
    margin-bottom: 10px;
}
.details p{
    width: 500px;
    font-size: 18px;
    
}
.illustration img{
    width: 550px;
    margin-right: 35px;
    filter: brightness(120px);
    animation: bounce 3s linear infinite;
}
@keyframes bounce{
   0%,100%{
       transform:translateY(0);
   }
   50%{
       transform: translateY(40px);
   }
}
.cta{
    margin-left: 40px;
}
.primary-btn{
    cursor: pointer;
    font-weight: 600;
    color: var(--Dark-purple);
    background-color: var(--light-green);
    padding: 10px 35px;
    border: none;
    border-radius: 15px;
    margin-right: 30px;
}
.primary-btn:hover{
    color: var(--white);
    background-color: var(--green);  
}
.secondary-btn{
    cursor: pointer;
    font-weight: 600;
    color: var(--Dark-purple);
    background-color: var(--white);
    padding: 10px 35px;
    border: none;
    border-radius: 15px;
}
.secondary-btn:hover{
    color: var(--green)
}
.sec2{
    height: 100vh;
    background: url(/images/2\ section.jpg);
    background-size: cover;
}
.sec2 h2{
    position: relative;
    left: 380px;
    top: 50px;
    color: var(--white);
    text-align: center;
    width:490px;
}
.sec2 p{
    position: relative;
    font-size: 14px;
    left: 460px;
    top: 60px;
    color: var(--green);
}
.features{
    display: flex;
   
    position: relative;
    top:100px;
    left: 100px;

}
.features img{
    width:600px;
}
.feature-list{
    position: relative;
    left: 100px;
   
}
.list1,.list2,.list3{
    width:400px;
    padding: 25px 20px;
    margin-bottom: 60px;
    background: linear-gradient(270deg, rgba(115, 253, 170, 0.89) 0%, rgba(196, 196, 196, 0) 100%);
    border-radius: 10px;
}
.list1 h4{
    text-align: center;
    color:var(--white);
    margin-bottom: 10px;
   
}
.list1 h5{
    text-align: center;

}
.list2 h4{
    text-align: center;
    color:var(--white);
    margin-bottom: 10px;
   
}
.list2 h5{
    text-align: center;

}
.list3 h4{
    text-align: center;
    color:var(--white);
    margin-bottom: 10px;
   
}
.list3 h5{
    text-align: center;

}
.sec3{
    background: var(--Dark-purple);
 
}
.market-trend{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
h3{
    color: var(--white);
    font-size: 40px;
    font-weight: 700;
    margin: 0 40px;
}
.coin-trend{
    background-color: var(--Dark-purple);
    width: 297px;
    margin: 10px 5px;
    padding: 15px 10px;
    box-shadow: 0px 1px 4px 2px var(--green);
    border-radius: 18px;
    border: 1px solid var(--light-green);
    color: var(--white);
    vertical-align: center;
}
.tag-tag{
    background-color:rgb(50, 74, 67);
    padding: 5px 10px;
    border-radius: 3px;

}
.coin-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}
.coin-details img{
    width: 50px;
}
.token-details{
    display: flex;
    justify-content: space-evenly;
}
.chart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
.chart img{
    width:150px;
}
.price h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.sec4{
    background: var(--Dark-purple);
    height: 50vh;
   
}
.cta2{
    position: relative;
    top: 50px;
    left: 300px;
    color: var(--white);
    text-align: center;
    box-shadow: 5px 1px 13px 4px rgba(115, 253, 170, 0.48);
    border-radius: 10px;
    padding: 50px 100px;
    width: 750px;
   
}
cta2 h4{
    color: var(--white);
}
input {
    background: #FFFFFF;
    color: var(--green);

    border: 3px solid #73FDAA;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    padding: .75rem 15rem .75rem 1rem;
}
input:focus{
    border: 6px solid var(--green); 
}
    
button {
      cursor: pointer;
      background: var(--green);
      color: white;
      border: none;
      padding: 15px 25px;
      font-size: 14px;
      text-align: center;
      border-radius: 3px;
}

button:hover{
    background:var(--light-green);
    color: var(--green);
}
footer{
    background:var(--Dark-purple);
    height: 50vh;
    box-shadow: 5px 1px 13px 4px rgba(115, 253, 170, 0.48);
}
.footer-container{
    display: flex;
    justify-content: space-around;
    padding-top:  40px; 
    color: var(--white);
}
.col-1{
    width: 350px;
}
.col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.col-2 a{
    text-decoration: none;
    color: var(--white);
}

 
